*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;
}

body.modal-open {
  overflow: hidden;
}

a {
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.current-page-link {
  color: #0678d2;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .current-page-link {
    position: relative;
  }
  .current-page-link::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #2196f3;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-socials .slash:not(:last-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  .header-socials li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #0678d2;
  }
  .header-socials li a:visited,
  .header-socials li a:hover {
    color: #0678d2;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu ul li:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav-menu ul a {
    font-size: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu ul a {
    padding: 32px 0;
  }
  .nav-menu ul li {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu .logo-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 93px;
    padding: 15px 0;
  }
  .nav-menu ul a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-menu li {
    margin-right: 50px;
  }
  .nav-menu li:nth-last-child(1) {
    margin-right: 0;
  }
}

.header-link {
  color: #212121;
  font-weight: 500;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: #0678d2;
}

.logo-text {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.94;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo-text {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-text {
    margin-right: 93px;
  }
}

.contact-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .contact-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact-menu a {
    fill: #757575;
  }
  .contact-menu li:last-child a {
    color: #0678d2;
  }
  .contact-menu li:first-child {
    font-size: 28px;
  }
  .contact-menu li:last-child {
    margin-bottom: 30px;
    font-size: 40px;
  }
  .contact-menu a:hover,
  .contact-menu a:focus {
    color: #0678d2;
    fill: #0678d2;
  }
  .contact-menu svg {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .contact-menu svg {
    margin-right: 8px;
  }
  .contact-menu li:first-child {
    margin-bottom: 10px;
  }
  .contact-menu a {
    fill: #757575;
  }
  .contact-menu a:hover,
  .contact-menu a:focus {
    color: #0678d2;
    fill: #0678d2;
  }
}

@media screen and (min-width: 1200px) {
  .contact-menu {
    margin-left: auto;
  }
  .contact-menu li {
    margin-right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-menu li:nth-last-child(1) {
    margin-right: 0;
  }
  .contact-menu a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: #757575;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-menu a svg {
    margin-right: 10px;
  }
  .contact-menu a:hover,
  .contact-menu a:focus {
    color: #0678d2;
    fill: #0678d2;
  }
}

.contact-text {
  font-weight: 500;
  color: #757575;
}

.main-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-block {
    margin: 0 auto;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .main-block {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .main-block {
    margin: 0 auto;
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-block {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}

.offer {
  padding: 118px 0;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .offer {
    width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .offer {
    width: 620px;
    margin: 0 auto;
    padding: 200px 0;
  }
}

.main-hero {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .main-hero {
    font-size: 44px;
  }
}

.offer-link {
  display: block;
  width: 200px;
  padding-right: 32px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: #0678d2;
  border-radius: 4px;
  border: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

.about-us-container {
  padding-top: 44px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .about-us-container {
    padding-top: 94px;
  }
}

.about-us-container .container li h2 {
  margin: 0;
  margin-bottom: 10px;
}

.about-us-container .container p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .about-us-container .container ul {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .about-us-container .container li {
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about-us-container .container li {
    display: inline-block;
    width: calc((100% - 4px - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us-container .container li {
    display: inline-block;
    width: calc((100% - 8px - 4 * 30px) / 4);
    margin-bottom: 0;
    margin: 15px;
  }
}

.about-us-container .container li:nth-of-type(4n) {
  margin-right: 0;
}

.features-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.about-us-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: left;
}

.about-us-text {
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #757575;
}

.what-we-do-container {
  padding-top: 93px;
  padding-bottom: 93px;
}

@media screen and (max-width: 1199px) {
  .what-we-do-container {
    display: none;
  }
}

.what-we-do-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.what-we-do-container h2 {
  margin: 0;
}

.what-we-do-container h3 {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.what-we-do-container li {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  position: relative;
  text-align: center;
}

.what-we-do-container li:nth-of-type(3n) {
  margin-right: 0;
}

.our-discription-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.our-team-block {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.our-team-block h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .our-team-block h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 1199px) {
  .our-team-block {
    padding: 60px 0;
  }
}

.our-team-block-list {
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .our-team-block-list {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-block-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.our-team-block .master-card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .our-team-block .master-card {
    margin: 0;
    text-align: center;
    display: block;
    width: 100%;
  }
  .our-team-block .master-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team-block .master-card {
    display: inline-block;
    width: calc((100% - 4px - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .our-team-block .master-card {
    text-align: center;
    display: block;
    width: calc((100% - 90px) / 4);
  }
}

.our-team-block .master-card ul {
  margin-top: 12px;
}

.our-team-block .container h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.our-team-block .container p {
  margin: 0;
  padding: 0;
}

.our-team-block .container h2 {
  display: block;
  margin: 0;
  margin-bottom: 50px;
}

.our-team-discription {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.our-team-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.our-team-links li {
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
}

.our-team-links .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-right: 10px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-links .social-link:last-child {
  margin-right: 0;
}

.our-team-links .social-link:hover,
.our-team-links .social-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.discription-item {
  text-align: center;
  padding: 30px 32px;
}

.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}

.link-icon {
  display: block;
  width: 20px;
  height: 20px;
}

.container.clients {
  padding: 60px 15px;
}

.clients-list {
  margin: -15px;
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.clients h2 {
  margin: 0 0 30px 0;
  padding: 0;
}

.clients-item {
  display: inline-block;
  height: 90px;
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 4 * 16px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    width: calc((100% - 7px - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 12px - 6 * 15px) / 6);
  }
}

.clients-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item a:hover,
.clients-item a:focus {
  cursor: pointer;
  fill: #0678d2;
  border: 1px solid #0678d2;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
  background: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer h3 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.container .contacts {
  text-align: center;
  line-height: 24px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container .contacts {
    margin: 0;
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .container .contacts {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.join-us {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-us {
    margin: 0;
    width: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .join-us {
    margin-bottom: 0;
    text-align: left;
  }
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.footer-links li + li {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-links {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
  }
  .footer-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background-color: #0678d2;
}

.logo-text-footer {
  display: block;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 20px;
}

.logo-text-footer .logo-text-accent {
  color: #0f80da;
}

.logo-text .logo-text-accent {
  color: #0678d2;
}

.contact-text-footer {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-text-footer:hover, .contact-text-footer:focus {
  color: #0678d2;
}

.address-text {
  font-style: normal;
  line-height: 24px;
  color: #ffffff;
  background: #2f303a;
}

.footer-form {
  text-align: center;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin: 0 auto;
    margin-top: 60px;
    width: 450px;
  }
}

.footer-form h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
    text-align: left;
    margin-left: auto;
    width: 570px;
    height: 86px;
  }
  .footer-form h3 {
    margin: 0;
    display: block;
  }
}

.subscriber {
  display: block;
  width: 100%;
}

.subscriber input {
  width: 100%;
  padding: 15px 0 15px 15px;
  margin: 0;
  background-color: transparent;
  border: 1px solid #757575;
  border-radius: 4px;
  margin-bottom: 20px;
}

.subscriber label {
  margin: 20px 0;
}

.subscriber button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #0678d2;
  border-radius: 4px;
  border: none;
}

.subscriber button svg {
  margin-left: 10px;
}

.subscriber input::-webkit-input-placeholder,
.subscriber input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscriber input:-ms-input-placeholder,
.subscriber input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscriber input::-ms-input-placeholder,
.subscriber input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscriber input::placeholder,
.subscriber input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .subscriber {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .subscriber input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 358px;
    margin-bottom: 0;
  }
  .subscriber label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    margin-right: 12px;
  }
}

.portfolio-container {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio-container {
    padding: 94px 0;
  }
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.button-list li:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 389px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .button-list li:not(:last-child) {
    margin-bottom: 15px;
  }
  .button-list li:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 390px) and (max-width: 767px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .button-list li:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
  .button-list li:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .button-list li:not(:last-child) {
    margin-right: 8px;
  }
}

.button-item {
  background: #f5f4fa;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  border-style: none;
  display: block;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-item:hover, .button-item:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  background: #0678d2;
  color: #ffffff;
}

.example-container {
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .example-container {
    margin: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .example-container {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.example-container .example-block {
  background: #ffffff;
  outline: 1px solid #eeeeee;
}

@media screen and (min-width: 480px) {
  .example-container .example-block {
    width: 450px;
  }
}

@media screen and (max-width: 767px) {
  .example-container .example-block:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .example-container .example-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc((100% - 4px - 2 * 30px)/ 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .example-container .example-block {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.example-container .example-block h2 {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  padding-bottom: 2px;
}

.example-container .example-block p {
  margin: 0;
  padding: 0;
}

.example-container .example-block a:hover,
.example-container .example-block a:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-container .example-block a:hover .overlay-example,
.example-container .example-block a:focus .overlay-example {
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  opacity: 1;
}

.example-container .example-titles {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.example-container .image {
  position: relative;
  overflow: hidden;
}

.example-container .overlay-example {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-container .overlay-text {
  padding: 0 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 350px) {
  .example-container .overlay-text {
    font-size: 16px;
  }
}

.example-container .example-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  text-align: left;
}

.example-container .example-discription {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 90px 15px;
  z-index: 999;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  padding: 15px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover svg,
.close-button:focus svg {
  fill: #0678d2;
}

.offer-form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25px 0 25px 0;
}

.offer-form h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.offer-form button {
  padding: 10px 55px;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #188CE8;
  border: none;
  border-radius: 4px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 5px 25px 5px 25px;
}

.form-field input {
  width: 100%;
  margin: 0;
  padding: 11px 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover input,
.form-field:hover textarea,
.form-field:focus-within textarea,
.form-field:focus-within input {
  border: 1px solid #0678d2;
  outline: none;
}

.form-field:hover .icon,
.form-field:focus-within .icon {
  fill: #0678d2;
}

.form-field label {
  padding-bottom: 5px;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field textarea {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: relative;
}

.input-icon .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 999;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-policy {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 25px 30px 25px;
}

.form-field-policy input {
  position: relative;
}

.form-field-policy a {
  display: inline;
  font-size: 12px;
  padding: 0 3px;
}

@media screen and (min-width: 1200px) {
  .form-field-policy a {
    font-size: 14px;
  }
}

.form-field-policy label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .form-field-policy label {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (min-width: 450px) {
  .form-field-policy label span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-field-policy label span::before {
  content: "";
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid #212121;
  border-radius: 4px;
  outline: none;
  margin-right: 7px;
  background-color: transparent;
}

.policy-conditions {
  color: #0678d2;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.checkbox:checked + label span::before {
  border: none;
  width: 16px;
  height: 16px;
  background-color: #0678d2;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.checkbox:focus + label span::before {
  outline: 2px solid #212121;
}

.mobile-menu {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    padding: 20px;
    text-align: left;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
  }
  .mobile-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 1;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.menu-button {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 900;
}

.menu-button.is-open .icon-cross {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover {
  fill: #0678d2;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */